.issue{
  background-color: white;
  overflow: hidden;
}
.center{
  float: unset;
  margin: 0 auto;
  background-color: #475466;
  height: 100%;
}
.issue-header{
  height: 15%;
  justify-content: center;
  padding-top: 3%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  background-color: rgba(12, 24, 93, 0.4);
}

.comment-top{
  background-color: rgba(152, 187, 176, 0.2);
}

.header-items{
  width: fit-content;
}

.span-issue{
  color: rgb(63, 63, 184);
}

.back-btn{
  font-size: 20px;
  background-color: rgba(0, 0, 0, .4);
  color: white;
}

/* Comment Card */
.comment-card{
  color: #646f7e;
  background: white;
}
.comment-header img{
  height: 40px;
  border-radius: 50%;
}

.comment-user{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FC5185;
}

.text-comment{
  color:gray;
}
.date-created{
  display: block;
  padding-bottom: 10px;
  float: right;
}
.date-created span{
  float: right;
  font-family: 'Courier New', Courier, monospace;
}

.date-created i{
  float: right;
}

.comment-section{
  overflow-y: auto;
  height: 60vh;
  width: 100%;
  /* background-color: rgb(212, 200, 200); */
}

.comment-section::-webkit-scrollbar{
  width: 5px;
}


.comment-section::-webkit-scrollbar-track {
  background-color: rgba(12, 24, 93, 0.4);

}

/* Handle */
.comment-section::-webkit-scrollbar-thumb {
  background: white;
  /* border-radius: 5px; */
}

/* Handle on hover */
.comment-section::-webkit-scrollbar-thumb:hover {
  background-color: rgba(12, 24, 93, 0.4);
  background: #555;
}

.new-comment{
  background-color: rgba(12, 24, 93, 0.4);
  height: 100%;
}


.input{
  height: 40px;
  width: 80%;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, .6);
  border: none;
  color: whitesmoke;
}

.submit{
  height: 40px;
  width: 20%;
  color: white;
  background-color: #FC5185;
  border: none;
  float: right;
}


/*  Issue Nav area */
.all-issues{
  overflow-y: auto;
  height: 90vh;
}

.issue-nav-header{
  height: 10%;
  background: rgba(12, 24, 93, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.issue-card{
  background-color: #fff;
  box-shadow: 4px 4px 4px gray;

}

.all-issues::-webkit-scrollbar{
  display: none;
}
.float-right{
  float: left;
  width: fit-content;
  font-size: .8rem;
  font-family: 'Courier New', Courier, monospace;
}

.project-name{
  font-size: 1.3rem;
  font-family: sans-serif;
  color : rgb(208, 206, 206);
}

.project-name span{
  font-size: .9rem;
}

.project-name a{
  color: blue;
  display: inline;
}



.open{
  background-color: #82CD47;
  color: white;
}

.pending{
  background-color: #FD841F;
  color: white;
}

.closed {
  background-color: #EB1D36;
  color: white;
}