.Navbar{
  color: gray;
  font-size: 1.3rem;
  border-right: 2px solid rgb(202, 202, 202);
  box-shadow: 4px 4px 4px 5px gray;
}

a{
  display: block;
  color: gray;
}

.Navbar header{
  align-items: center;
  font-size: 1.3rem;
  justify-content: center;
}