.Navbar{
  background-color: rgba(0, 0, 0, .3);
  color: #FC5185;
}

a{
  display: block;
  color: #FC5185;
}

.Navbar header{
  background-color: rgba(0, 0, 0, .5);
  height: 15%;
  display: flex;
  align-items: center;
  color: #FC5185;
  font-size: 1.3rem;
  justify-content: center;
}